.card__description {
    min-width: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 21px 21px 24px 21px;
    box-sizing: border-box;
}