.profile__card-edit {
    background-image: url('../../../images/vector-plus.svg');
    min-width: 150px;
    height: 50px;
    border-width: 2px;
    border-radius: 2px; 

}
@media screen and (max-width: 680px) {
    .profile__card-edit {
        width: 280px;
    }
}
.profile__card-edit:hover {
    cursor : pointer;
    opacity: 0.6;
}