@import url('./__description/card__description.css');
@import url('./__group/card__group.css');
@import url('./__image/card__image.css');
@import url('./__like/card__like.css');
@import url('./__like/_color/card__like_color.css');
@import url('./__title/card__title.css');
@import url('./__delete/card__delete.css');
@import url('./card__like-counter/card__like-counter.css');
@import url('./card__like-group/card__like-group.css');




.card {
    max-width: 282px;
    width: 100%;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    position: relative;
}