.card__group {
    max-width: 282px;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: #FFFFFF;
}