.logo {
    background-image: url('../../images/vector-logo.svg');
    width: 142px;
    height: 33px; 
    margin-bottom: 40px;
    background-size: cover;
}
@media screen and (max-width: 680px) {
    .logo {
        width: 105px;
        height: 25px; 
        margin-bottom: 30px;  
    }
}
@media screen and (max-width: 480px) {
    .logo {
        margin-left: 27px;
    }
}
