.popup__container {
    position: relative;
    max-width: 430px;
    width: 80%;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    color: black;
    padding: 34px 36px;
    box-sizing: border-box;
}

